@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;1,200;1,300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url(https://itishstudios.net/assert/bg.jpg)!important;
    color: white!important;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif!important;
}

a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  font-family: 'Josefin Sans', sans-serif!important;

}
body {
  color: #e7e8e8;
  background: #3848DF;
}
.css-722v25{
color: black;
}
.css-10dnqgl {
  color: black!important;
  font-weight: bold!important;
}
.css-cz9o89,.css-zyb6lv,.css-xobhm9 {
  font-size: small;
  color: black!important;
  font-weight: bold!important;
}

h2,h1,h3{
  font-family: 'Josefin Sans', sans-serif!important;
}

.logoimg{
  width: 60px;
  height: 60px;
}

.logoimg11{
  width: 320px;
  height: 320px;
}
@media (max-width:600px){
  .css-n15nnd{
    display: flex!important;
    flex-wrap: wrap!important;
  }
  .css-n15nnd a{
    flex: 45%!important;
  }

}


.footer {
  /* background-color: #333; */
  color: white;
  padding: 20px;
  width: 100%;
}

.footer .column {
  width: 33%;
  float: left;
  padding: 0 20px;
}

.footer .column h2 {
  font-size: 18px;
}

.footer .column p {
  font-size: 14px;
}

.footer .column .social-icons {
  margin-top: 20px;
}

.footer .column .social-icons a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.footer .column:nth-child(1){
  /* float: right; */
  /* text-align: -webkit-right; */
}
.social-icons{
  display: flex;
  margin-bottom: 20px;
}

.bfooter{
  /* background:#2E2C6F; */
}
.bfooter h3{
  text-align: center;
  /* margin-top: 130px; */
}

/* .sf{
  margin-top: -120px;
} */

.spashimg{
  height: 80%;
  margin-top: 3rem;
  width: 75%;
}

.css-19isl6w{
  max-width: max-content!important;
}

.css-1hyinb4{
  /* border-bottom: 2px solid #2d2d53!important; */
}

.cw{
  color: white!important;
}

.flex{
display: flex;
gap: 1rem;
flex-wrap: wrap;
justify-content: space-around;
margin-top: 10px;
}
.flex img{
  height: 300px;
  border-radius: 4px;
}

@media (max-width:600px){
  .spashimg {
    width: 100%;
  }
  .flex img {
    height: 167px;
    border-radius: 4px;
}
.footer .column {
  width: 50%;
 }
 .footer .column:nth-child(3),.footer .column:nth-child(4){
  margin-top: 3rem;
 }
}

nav a{
  font-weight: bold;
}

@media (min-width:600px){
  nav{
    position: absolute;
    right: 20rem;
  }
  .myclass{
    right: 27rem;
  }
  .cbtn{
    margin-right: 9rem;
  }
  .logoimg {
    width: 62px;
    height: 67px;
    margin-left: 4rem;
}

.logoimg11{
  width: 110px;
  height: 110px;
}
}/* styles/index.module.css */

.centered {
  display: flex;
  justify-content: center;
  /* align-items: center; */
 margin-top: 2rem;
}

