@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;1,200;1,300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background-image: url(https://itishstudios.net/assert/bg.jpg)!important; */
    color: white!important;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    font-family: 'Josefin Sans', sans-serif!important;
    background-color: #9041C0;
    background-image: url(https://itishstudios.net/assert/bg.jpg)!important;
    background-repeat: no-repeat;
    background-size: cover!important;
    /* overflow-x: hidden!important; */
}

.sellfooter{
    overflow-x: hidden!important;
}
a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  font-family: 'Josefin Sans', sans-serif!important;

}
body {
  color: #e7e8e8;
  background: #3848DF;
}
.css-722v25{
color: black;
}
.css-10dnqgl {
  color: black!important;
  font-weight: bold!important;
}
.css-cz9o89,.css-zyb6lv,.css-xobhm9 {
  font-size: small;
  color: black!important;
  font-weight: bold!important;
}

h2,h1,h3{
  font-family: 'Josefin Sans', sans-serif!important;
}

.logoimg{
  width: 60px;
  height: 60px;
}

.logoimg11{
  width: 320px;
  height: 320px;
}
@media (max-width:600px){
  .css-n15nnd{
    display: flex!important;
    flex-wrap: wrap!important;
  }
  .css-n15nnd a{
    flex: 45%!important;
  }

}


.footer {
  /* background-color: #333; */
  color: white;
  padding: 20px;
  width: 100%;
}

.footer .column {
  width: 33%;
  float: left;
  padding: 0 20px;
}

.footer .column h2 {
  font-size: 18px;
}

.footer .column p {
  font-size: 14px;
}

.footer .column .social-icons {
  margin-top: 20px;
}

.footer .column .social-icons a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.footer .column:nth-child(1){
  /* float: right; */
  /* text-align: -webkit-right; */
}
.social-icons{
  display: flex;
  margin-bottom: 20px;
}

.bfooter{
  /* background:#2E2C6F; */
}
.bfooter h3{
  text-align: center;
  /* margin-top: 130px; */
}

/* .sf{
  margin-top: -120px;
} */

.spashimg{
  height: 100%;
  margin-top: 3rem;
  width: 100%;
  object-fit: cover;
}

.css-19isl6w{
  max-width: max-content!important;
}

.css-1hyinb4{
  /* border-bottom: 2px solid #2d2d53!important; */
}

.cw{
  color: white!important;
}

.flex{
display: flex;
gap: 1rem;
flex-wrap: wrap;
justify-content: space-around;
margin-top: 10px;
}
.flex img{
  height: 300px;
  border-radius: 4px;
}

@media (max-width:600px){
  .spashimg {
    width: 100%;
  }
  .flex img {
    height: 167px;
    border-radius: 4px;
}
.footer .column {
  width: 50%;
 }
 .footer .column:nth-child(3),.footer .column:nth-child(4){
  margin-top: 3rem;
 }
}

nav a{
  font-weight: bold;
  color: white;
}

nav a p{
  font-weight: bold;
  color: white;
}
@media (min-width:600px){
  nav{
    position: absolute;
    right: 20rem;
  }
  .myclass{
    right: 28rem;
  }
  .cbtn{
    margin-right: 9rem;
  }
  .logoimg {
    width: 113px;
    height: 117px;
    margin-left: 4rem;
    margin-top: 32px;
}

/* .logoimg11{
  width: 110px;
  height: 110px;
} */
}/* styles/index.module.css */

.centered {
  display: flex;
  justify-content: center;
  /* align-items: center; */
 margin-top: 2rem;
}

.bs{
  color: white;
    font-weight: bolder;
}

.c-footer{
  background-color: #0F1869;
    /* opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s; */
}

.cw p{
  color: white!important;
}

.scw{
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 5rem;
}

.scw h2{
  font-size: 34px;
}
.scbtn{
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 2rem;
}

.scbtn button{
  background-color: transparent;
  background-image: linear-gradient(258deg, #5D09D1FC 0%, #220B4D 100%);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 2px;
}
@media(min-width:600px){
  .c-footer{
    padding: 63px!important;
    margin-left: -2.6%!important;
    width: 104%!important;
    padding-top: 117px!important;
    padding-bottom: 110px!important;
    
    
  }
  .c-footer div{
    justify-items: center;
  }
  .s-footer{
    margin-left: 0%!important;
  }
  .s-ff{
    margin-left: -3%;
    width: 106.2%;
    overflow-x: hidden!important;
  }
  .wff{
    overflow-x: hidden!important;

  }
  .sellcontainer , .profilecontainer{
    padding-left: 5rem!important;
  }
}

.bn{
  background-color: transparent;
    background-image: linear-gradient(258deg, #5D09D1FC 0%, #220B4D 100%);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 2px;
}
@media(max-width:600px){
  .c-footer {
    width: 112%;
    margin-left: -6%;
    overflow-x: hidden!important;
}
.logoimg11 {
  width: 120px;
  height: 120px;
}
.footergrid div {
  grid-column: 1;
  width: 127%;
}
.sellfooter {
   padding-left: 5%;
}
.wff{
  margin-left: 0%;
  overflow: hidden;
  padding-left: 6%;
}
}

.css-u4p24i .css-cz9o89{
  color: white!important;
}


.css-70qvj9 .css-722v25{
  color: white!important;
}
.logoimg11{
  height: 120px;
  width: 120px;
  margin-top: -10px;
}



.hero {
  position: relative; /* Ensure positioning context */
 
  overflow: hidden; /* Hide the overflowing part of the image */
}

.animated-image {
  position: absolute;
  top: 0;
  left: 0; /* Starting position of the image */

  /* Set your image's width and height here */

  animation: moveLeft 5s linear infinite; /* Adjust duration and animation name as needed */
}

@keyframes moveLeft {
  0% {
      left: 0; /* Start position */
  }
  100% {
      left: -20%; /* Move left by 100% of image width */
  }
}


.animated-text {
  animation: fadeIn 8s ease-in-out;
}

.germa{
  margin-left: -13px;
}

.tit{
  margin-left: -7px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.splitContainer{
}
.dflex{
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
  background-image: url(../public/bb.png);
overflow-x: hidden;
margin-left: -2rem;
margin-right: -1.2rem;
  padding-left: 16rem;
  padding-top: 7rem;
  padding-bottom: 6rem;
}
.scontent{
  display: flex;
  flex-direction: column;
}

.imflex{
  display: flex;
  align-items: center;
}

.sheading{
  font-size: 29px;
  font-weight: bold;
  padding-bottom: 3rem;
  padding-top: 12px;
}

.gerimg{
  margin-left: -8px;
}

.neoimg{
  margin-left: 10px;
}

.img img{
  width: 55%;
}
.image img{
  width: 50%;
  margin-top: 3rem;
}

@media (max-width:600px){
  .dflex{
    margin-left: -57px;
    PADDING-LEFT: 39px;
    flex-wrap: wrap;
  }
  .image img{
    width: 68%;
  }
}